---
import HomeProjectCard from "./homeProyectCard.astro";
---

<section class="py-10 relative z-10">
  <h2
    class="text-3xl md:text-4xl font-bold text-white mb-12 mx-auto px-6 text-center text-shadow"
  >
    Proyectos Destacados
  </h2>

  <div class="mt-8 grid gap-6 md:grid-cols-2 max-w-[930px] mx-auto px-4">
    
    <HomeProjectCard
      titulo="Advent of Code"
      descripcion="Resolución diaria de problemas algorítmicos enfocados en optimización y estructuras de datos."
      imagen="/img-projects/adventOfCode.jpg"
      tecnologias={["C++", "Algoritmia", "Optimización"]}
      codigo="https://github.com/DiegoProvencio/AdventOfCode_2025"
    />

    <HomeProjectCard
      titulo="Programación Competitiva"
      descripcion="Participación activa en Codeforces y concursos universitarios, centrado en eficiencia y análisis de complejidad."
      imagen="/img-projects/competitiveProgramming.png"
      tecnologias={["C++", "STL", "Data Structures"]}
      codigo="https://codeforces.com/profile/Fokuss"
    />
    
    <HomeProjectCard
      titulo="Formador CODI"
      descripcion="Algo"
      imagen="/img-projects/codi.png"
      tecnologias={["Scratch", "Logica", "Docencia"]}
      codigo="https://www.linkedin.com/feed/update/urn:li:activity:7419687709369331712/?originTrackingId=w6%2BqRgSdfLxOgF5dwV9bKA%3D%3D"
    />

    <HomeProjectCard
      titulo="Portfolio Personal"
      descripcion="Desarrollado con Astro y Tailwind, optimizado para rendimiento y despliegue en GitHub Pages."
      imagen="/img-projects/portfolio.png"
      tecnologias={["Astro", "Tailwind", "React"]}
      codigo="https://github.com/DiegoProvencio/diegoprovencio.github.io"
    />
  </div>

  <div class="mt-12 flex justify-center">
    <a
      href="/proyectos"
      class="px-6 py-3 bg-primary hover:bg-secondary text-white font-semibold rounded-3xl transition-all duration-150
           drop-shadow-[2px_2px_0_#0debd8] active:translate-0.5 active:drop-shadow-none"
    >
      Ver todos los proyectos
    </a>
  </div>
</section>
